#theme = "nord-night"
#theme = "modus_operandi"
theme = "ttox_soft"

[keys.normal]
# Simplifies exiting. Collapes all exits on the 'esc' key
esc = ["collapse_selection", "keep_primary_selection"]

# Jump straight to a word faster. AMP is unintitive.
";" = "goto_word"

# better jumping
"," = "jump_backward"
"A-," = "jump_forward"

# Just delete. Don't save to register
"D" = "delete_selection_noyank"

# Move between buffer more efficiently
"A-]" = "goto_next_buffer"
"A-[" = "goto_previous_buffer"
"A-l" = "jump_view_right"
"A-h" = "jump_view_left"
"A-j" = "jump_view_down"
"A-k" = "jump_view_up"

# X should be the opposites of x
"X" = "extend_line_above"

# Use H/L to jump between words
"H" = "move_prev_word_start"
"L" = "move_next_word_start"

# not needed really. control - c does this.
# "A-c" = "toggle_comments"

# [keys.normal.z]
# # Faster scrolling through zk/zk. not neccesary. 
# k = "page_cursor_up"

# j = "page_cursor_down"

[keys.normal.space]
z = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]

v = ':w'

q = ':bc'

[editor]
# What does this do?
bufferline = "multiple"

# Lines so i dont kill myself over python
indent-guides.render = true

# BEGIN HACK TO TURN ON INLINE DIAGNOTICS
# Not sure if I really need this. But we will see.
#line-number = "relative"

# Hopefully this can be deleted soon when diagnostics are turned on
# 
# Minimum severity to show a diagnostic after the end of a line:
end-of-line-diagnostics = "hint"

# Hopefully this can be deleted too.
[editor.inline-diagnostics]
# Minimum severity to show a diagnostic on the primary cursor's line.
# Note that `cursor-line` diagnostics are hidden in insert mode.
cursor-line = "hint"
# Minimum severity to show a diagnostic on other lines: kinda annoying when working with new code
# other-lines = "hint"
# END HACK

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
